.burger_constructor {
  display: grid;
  gap: 40px;

  &__combine {
    display: grid;
    gap: 16px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(var(--vh50) - var(--header-height));
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--text-inactive-color);
    }
  }

  // &__checkout {
  //   display: flex;
  //   justify-self: flex-end;
  //   gap: 40px;
  // }

  // &__price {
  //   display: flex;
  //   align-items: center;
  //   gap: 8px;
  // }

  // &__currency {
  //   width: 36px;
  //   height: 36px;
  // }
}