.burger_constructor {
  display: grid;
  gap: 40px;

  &__combine {
    display: grid;
    gap: 16px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(var(--vh50) - var(--header-height));
    overflow: auto;
    margin: 0;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--text-inactive-color);
    }
  }
}