.order_details {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  &__tablo {
    text-shadow: var(--text-shadow);
  }

  &__image {
    width: 120px;
    height: 120px;
  }
}
