.feed_page {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 88px);
    gap: 60px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    padding-right: 8px;
    height: calc(100vh - 88px - 108px);

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--text-inactive-color);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
