.modal {
  background-color: var(--background);
  border-radius: 40px;
  width: 100%;
  max-width: 720px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
  }

  &__body {
    display: flex;
    justify-content: center;
  }
}
