.ingredient_details {
  width: 100%;
  max-width: 720px;
  box-sizing: border-box;
  margin: 0 auto;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image_box {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 480px;
    height: 240px;
  }
}
