.register {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  gap: 80px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__jumpto {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}
