.group_preview {
  display: flex;
  position: relative;
  z-index: 0;

  &__item {
    border-radius: 50%;
    padding: 4px;
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: var(--gradient-and-bg-group-main);
    border: 2px solid transparent;
    border-radius: 50px;

    &:not(:first-child) {
      margin-left: -15px;
    }

    &:nth-child(6) {
      background-color: #1c1c21;
      display: inline-flex;
      gap: 1px;
      background: var(--gradient-and-bg-group-more);
    }
  }

  &__image {
    width: 112px;
    height: 56px;
  }
}

@for $i from 0 through 999 {
  .group_preview__item_#{$i} {
    z-index: 6 - $i;
  }
}
