:root {
  --vh100: 100vh;
  --vh50: 50vh;
  --header-height: 88px;
  --burger-ingredients-head: 195px;
}

#root {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100vh;
  overflow: hidden;
}